.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: darkslategray;
}

.logo {
    margin-left: 40px;
    cursor: default;
}

.logo h3 {
    color: whitesmoke;
}

.nav {
    display: flex;
    gap: 20px;
    margin-right: 40px;
}

.link {
    color: whitesmoke;
    text-decoration: none;
    cursor:  pointer;
}